@page
@model ChessDivModel
@{
    ViewData["Title"] = "ChessDiv";
}

    <div class="view">
        @*<h1>Chess Game here!</h1>*@

        <canvas id="myCanvas">

        </canvas>

        <canvas height="100" id="colorBar">

        </canvas>

        @*<h2>ChessDiv</h2>*@
    </div>

