@page
@model FreezaChessNET.Pages.TenChessModel
@{
    ViewData["Title"] = "TenChess";
}

<div class="view">
    @*<h1>Chess Game here!</h1>*@

    <div style="margin-top: -30px;">
        <h2 id="TimeElapsed">
            Time elapsed:
        </h2>
    </div>

    <canvas id="myCanvas"></canvas>

    <div>

        <canvas height="100" id="colorBar"></canvas>

        <h1 id="TurnCount">
            Turn #:
        </h1>

        <h1>
            You are located in Lobby #
        </h1>

    </div>

    @*<h2>ChessDiv</h2>*@
</div>



